*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 1280px;
  margin: 50px auto;
}

header{
  position: relative;
}

header .logo{
  font-size: 20px;
}

header ul.nav{
  float: right;
  list-style: none;
}
header ul.nav li{
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav li:hover{
  opacity: 0.5;
}

header .presentation{
  width: 100%;
  height: 500px;
  margin: 50px 0;
  background: cyan;
}

header .shop-cart-button{
  float: right;
cursor: pointer;
transition: color transform 500 ease;
}

header .shop-cart-button:hover, header .shop-cart-button.active{
  color: red;
  transform: scale(1.5);
  transition:  500 ease;
}


header .shop-cart{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background-color: cyan;
  box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.2);
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .item{
  width: 100%;
  float: left;
  padding: 20px;
}
header .shop-cart .item img{
  width: 70px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}

footer{
  text-align: center;
  margin-top: 100px;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item{
  width: 200px;
    background: cyan;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.item img{
  background: red;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.add-to-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}